{% extends "base.html" %} {% block content %}

<style>
    .frame-div {
        margin: -475px 1px 1px 401px;
        padding: 20px 30px 220px 30px;
        border: 3px dashed #1DFF22;
        text-align: center;
        font-size: 60%;
        width: 400px;
        height: 200px;
        font-family: VT323, pixel, monospace;
        display: flex;
        flex-direction: column;
        flex: 50px;
    }
    .game-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .frame-div2 {
        margin: 5px 1px 1px 401px;
        padding: 20px 30px 250px 30px;
        border: 3px solid #1DFF22;
        text-align: center;
        width: 400px;
        height: 200px;
    }

    .square {
        float:left;
        position: relative;
        width: 30%;
        padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
        margin:1.66%;
        background-color:#1E1E1E;
        overflow:hidden;
    }

    .content {
        position:absolute;
        height:90%; /* = 100% - 2*5% padding */
        width:90%; /* = 100% - 2*5% padding */
        padding: 5%;

    }

    .table {
        display:table;
        width:100%;
        height:100%;
    }

    .table-cell {
        display:table-cell;
        vertical-align:middle;
    }

    p {
        margin:0;
        padding:0;
        text-align:left;
    }

    .numbers {
        font-weight:900;
        font-size:100px;
    }

    .game_button {
      padding: 5px 10px 1px 5px;
      margin: 10px 1px 2px 2px;
      text-align: right;
      position: relative;
      width: 200px;
      height: 50px;
      text-decoration: none;
      display: inline-block;
      border: 3px solid;
      font-size: 1.5rem;
      font-family: VT323, pixel, monospace;
    }

    .game_button::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: -1;
      -webkit-transform: scaleY(0.1);
      transform: scaleY(0.1);
      transition: all 0.4s;
      font-family: VT323, pixel, monospace;
    }

    .game_button:hover {
      color: #000;
      font-family: VT323, pixel, monospace;
    }

    .game_button:hover::before {
      opacity: 1;
      background-color: #1dff22;
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      transition: -webkit-transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02),
        opacity 0.4s;
      transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
      font-family: VT323, pixel, monospace;
    }

    body {
      font-family: VT323, pixel, monospace;
    }

    #left,
    #right,
    #up,
    #down,
    #reset {
      font-size: 1.6rem;
    }

</style>

<div class="frame-div">
    <!-- 1st row verticaly centered text in the square columns -->
    <div class="game-row">
        <div class="square">
            <div class="content">
                <div class="table">
                    <div class="table-cell numbers">
                            {{ cell1 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="square">
            <div class="content">
                <div class="table">
                    <div class="table-cell numbers">
                            {{ cell2 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="square">
            <div class="content">
                <div class="table">
                    <div class="table-cell numbers">
                            {{ cell3 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="game-row">
        <div class="square">
            <div class="content">
                <div class="table">
                    <div class="table-cell numbers">
                            {{ cell4 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="square">
            <div class="content">
                <div class="table">
                    <div class="table-cell numbers">
                            {{ cell5 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="square">
            <div class="content">
                <div class="table">
                    <div class="table-cell numbers">
                            {{ cell6 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="game-row">
        <div class="square">
            <div class="content">
                <div class="table">
                    <div class="table-cell numbers">
                            {{ cell7 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="square">
            <div class="content">
                <div class="table">
                    <div class="table-cell numbers">
                            {{ cell8 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="square">
            <div class="content">
                <div class="table">
                    <div class="table-cell numbers">
                            {{ cell9 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END OF LAYOUT, following juts for the demo -->
</div>
  </div>
    <div class="frame-div2">
      <span id="left" class="button" onclick="window.location.href='/game/1'" style="text-align: left; ">LEFT &#8592;</span><br>
      <span id="right" class="button" onclick="window.location.href='/game/2'">&#8594; RIGHT</span><br>
      <span id="up" class="button" onclick="window.location.href='/game/3'" style="text-align: left;">UP &#8593; </span><br>
      <span id="down" class="button" onclick="window.location.href='/game/4'">&#8595; DOWN</span><br>
      <span id="reset" class="button" onclick="window.location.href='/game/5'" style="text-align: center;">>RESET<</span>
        <br><br><br><p>the_game&#8482;</p>
    </div>
{% endblock %}