{% load static %}

<!DOCTYPE html>

<html>
  <style>
    @font-face {
      font-family: "pixel-caps";
      src: url("{% static 'main/fonts/pixel.ttf' %}");
    }
    @font-face {
      font-family: "pixel";
      src: url("{% static 'main/fonts/pixel.ttf' %}");
    }
  </style>

  <head>
    <link rel="stylesheet" href="{% static 'main/css/styles.css'%}" type="text/css">
    <link rel="icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <title>RIABOW.com</title>
  </head>
  <body>
  <h1><u>RIABOW.homespace</u></h1>
  <div class="wrapper">
    <span class="button" onclick="window.location.href='/cv'">CV</span><br>
    <span class="button" onclick="window.location.href='/game'">the_game</span><br>
    <span class="button" onclick="window.location.href='/cat'">my_cat</span><br><br>
    {% if user.is_authenticated %}
      <span class="button" onclick="window.location.href='/budgetreport/summary'" style="font-size: xx-large">rodovoe_derevo</span><br><br>
    {% endif %}
    <span {% if is_index %} style="display: none;" {% else %} {% endif %} class="button"
          onclick="window.location.href='/'"
          hidden>go_back
    </span>
  </div>
	{% block content %}{% endblock %}

  </body>
</html>